* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(rgb(63, 0, 39), rgb(0, 0, 0));
    height: 100vh;
    text-align: center;
}

input {
    font-family: "Courier New", Courier, monospace;
    border-style: none !important;
    display: block;
}

div {
    margin-top: 15%;
    display: inline-block;
    box-sizing: border-box;
}

form input {
    margin: 20px 20px 0px 20px;
}

input[type="submit"] {
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px 20px;
    font-size: larger;
    width: 150px;
    margin: auto;
    margin-top: 20px;
}

input[type="text"] {
    padding: 15px;
    box-sizing: border-box;
}

input[type="password"] {
    padding: 15px;
    box-sizing: border-box;
}

input[placeholder] {
    text-align: center;
}

#formTitle {
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
    color: white;
}
